<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div>
    <th:block th:replace="fragments/navbar"></th:block>
    <main class="mt-3">
        <div class="row d-flex justify-content-between">

            <div class="data col-md-12">
                <h1 class="text-center font-weight-bold">Workman</h1>
                <div class="workman-data">

                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="fragments/footer"></th:block>
</div>
<script>
    function formatWorkman(workman) {
        return '<div class="workman jumbotron myBackground">'
            + '<div class="text-center">'
            + `<a href="/workman/details/${workman.id}"><img src="${workman.imageUrl}" class="workman-image-home img-thumbnail px-auto" alt="Image not loaded..."/></a>`
            + '</div>'
            + `<h5 class="text-center font-weight-bold mt-3">Name: ${workman.firstName} ${workman.lastName} </h5>`
            + `<h5 class="text-center font-weight-bold mt-3">Phone Number: ${workman.phoneNumber} </h5>`
            + `<h5 class="text-center font-weight-bold mt-3">Email: ${workman.emial} </h5>`
            + `<h5 class="text-center font-weight-bold mt-3">Job Function: ${workman.jobFunction} </h5>`

            + '<div class="text-center">'
            + `<a  href="/comments/workman/${workman.id}"><h5 class="btn btn-danger font-weight-bold text-white">Comments</h5></a>`
            + '</div>'
            + '</div>'
    }

    $(document).ready(function () {


        fetch('http://localhost:8000/workman/fetch')
            .then((response) => response.json())
            .then((json) => {
                $('.workman-data').empty();

                if (json.length === 0) {
                    $('.workman-data').append(`<h1 class="text-center font-weight-bold">There are no workman in the ${workman} workman.</h1>`)
                } else {
                    for (let i = 0; i < json.length; i += 3) {
                        $('.workman-data').append('<div class="workman-row row d-flex justify-content-around mt-5">');
                        if(i < json.length) $('.workman-data .workman-row:last-child').append(formatWorkman(json[i]));
                        if(i + 1 < json.length) $('.workman-data .workman-row:last-child').append(formatWorkman(json[i + 1]));
                        if(i + 2 < json.length) $('.workman-data .workman-row:last-child').append(formatWorkman(json[i + 2]));
                    }
                }
            })
    });
    //
    // $('input[type=radio][name=selection]').change(function () {
    //     let workman = $(this).val();
    //
    //     fetch('http://localhost:8000/workman/fetch/' + category)
    //         .then((response) => response.json())
    //         .then((json) => {
    //             $('.workman-data').empty();
    //
    //             if (json.length === 0) {
    //                 $('.workman-data').append(`<h1 class="text-center font-weight-bold">There are no products in the ${workman} workman.</h1>`)
    //             } else {
    //                 for (let i = 0; i < json.length; i += 3) {
    //                     $('.workman-data').append('<div class="workman-row row d-flex justify-content-around mt-5">');
    //                     if(i < json.length) $('.workman-data .workman-row:last-child').append(formatWorkman(json[i]));
    //                     if(i + 1 < json.length) $('.workman-data .workman-row:last-child').append(formatWorkman(json[i + 1]));
    //                     if(i + 2 < json.length) $('.workman-data .workman-row:last-child').append(formatWorkman(json[i + 2]));
    //                 }
    //             }
    //         })
    // });
</script>
</body>
</html>
